.app {
  padding-left: 8px;
}

.post__title {
  border: none;
  background: none;
  cursor: pointer;
}

.post__actions {
  display:flex;
  flex-direction: row;
}

.post__header {
  font-weight: bold;
  font-size: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}